

table{
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    background: #fafafa;
    max-width: 200px;
    align-content: center;
    margin: 20px auto 10px;
    height: 100%;
}
tbody{
    overflow-x: auto;
}

td , th{
    padding: 15px 20px;
    text-align: center;


}
th{
    background-color:#009688;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;

}
tr{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
tr:nth-child(even){
    background-color: #e0e0e0;
}

button {
    color: #009688;
}

h1 {color: #fafafa;}

#loggedInAs {text-align: center;
                font-size: 8px;}
#idAndLogout {margin-left: auto;
                margin-right: auto;
                text-align: center;}
.logoutButton {
    float: right;
    height: 56px;
    color: white;
    border-radius: 0px;
    border: none;
    background: #333;
}

#popupID {
    color: yellowgreen;
}

#commerceTitle {
    background: #404040;
    color: #f9f9f9;
    font-size: 15px;
}

.pcView{
    display: none;
}
.tableFont{
    font-size: 8px;
}

#footer {
    visibility: hidden;
}

#logoutNav {
    visibility: hidden;
}
@media only screen and (min-width: 768px){
    .pcView{
        display: table-cell;
    }
    .tableFont{
        font-size: 16px;
    }

    #footer{
        visibility: visible;
    }

    #logoutPhone {
        visibility: hidden;
    }
    #logoutNav{
        visibility: visible;
    }

    #commerceTitle{
        font-size: 30px;
    }

}